*{
	background-color: #99ddff;
}
#welcome{
	font-family: font-family: "Times New Roman", Times, serif;;
	color: #9999ff;
	font-size: 80px;
	margin-top: 80px;
}
#title{
	font-family: cursive;
	color: #0000e6;
	font-size: 10px;
	margin-top: 90px;
}
#login{
	height: 50px;
	width: 150px;
	font-size: 30px;
	font-family: cursive;
	margin-top: 100px;
	border-style: outset;
}
#signin{
	height: 50px;
	width: 150px;
	font-size: 30px;
	font-family: cursive;
	margin-left: 200px;
	margin-right: 200px;
}

#login:hover{
	border-style: inset;
	background-color: #b3ffb3;
}
#signin:hover{
	border-style: inset;
	background-color: #ffffb3;

}
#about:hover{
	border-style: inset;
	background-color: #e699ff;
}
#logtitle{
	font-size: 90px;
	color: #0000e6;
	font-family: "Times New Roman", Times, serif;
	-webkit-text-stroke: 3px #0033cc;

}